.data-grid-container {
	.cell {
		cursor: default;
		user-select: none;
		height: 34px;
		width: 60px;
		display: flex;
		align-items: center;
		justify-content: center;

		> input {
			width: 100%;
		}

		&.dark {
			background-color: #b3e5fc;
		}

		&.selected {
			background-color: #4CAF50;
			color: white;
			&.dark {
				background-color: #388E3C;
			}
		}
	}
}
