.virtualized-sheet {
	.cell {
		cursor: default;
		user-select: none;
		height: 100%;
		width: 100%;

		> input {
			width: 100%;
		}

		&.dark-cell {
			background-color: #b3e5fc;
		}

		&.selected {
			background-color: #7e57c2;
			color: white;
			&.dark-cell {
				background-color: #512da8;
			}
		}
	}
}
