$cell_height: 24px;
$cell_width: 50px;

.scrollsync-container {
	position: relative;
	height: 400px;
	width: 500px;
	padding-top: $cell_height;
	padding-left: $cell_width;

	.xaxis {
		position: absolute !important;
		top: 0;
		left: $cell_width;
		right: 0;
		width: auto !important;
		height: $cell_height !important;
		overflow-x: auto;
	}

	.yaxis {
		position: absolute !important;
		top: $cell_height;
		left: 0;
		bottom: 0;
		overflow-y: auto;
		height: auto !important;
		width: $cell_width !important;
	}

	.content-wrapper {
		height: 100%;
		width: 100%;
		.scrollbar-custom {
			height: 100%;
			width: 100%;
		}
	}

	.ScrollbarsCustom-Track.ScrollbarsCustom-TrackY {
		width: 5px !important;
	}
	.ScrollbarsCustom-Track.ScrollbarsCustom-TrackX {
		height: 5px !important;
	}
}

table {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;

	.table-cell {
		height: $cell_height;
		width: $cell_width;
		text-align: center;
		vertical-align: middle;

		&.dark {
			background-color: #4fc3f7;
		}
	}
}
