body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding: 15px;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body * {
	box-sizing: border-box;
}

.data-grid-container .data-grid {
	outline: none;
}

.data-grid-container .data-grid .cell {
	/* display: flex; */
	/* align-items: center; */
	/* justify-content: center; */
	font-size: 14px;
	cursor: default;
	user-select: none;
	border-bottom: none;
	border-right: none;
	text-align: center;
	vertical-align: middle;
	height: 34px;
	width: 50px;
}
/* 
.cell.dark {
	background-color: #b3e5fc;
}

.cell.selected {
  background-color: #1e88e5;
  color: #fff;
}

.cell.selected.dark {
	background-color: #1565c0;
}

.grid-container {
	outline: none !important;
	border: none !important;
} */
